img#isaiahImage {
    width: 50%;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

.logos {
    width: 20%;
}

.container {
    margin-right: 1em;
}

footer {
    clear: left;
}

p {
    font-size: 1.5em;
}