img#isaiahImage {
    width: 50%;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

p#contactInfo {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 1em;
    border: 1px dashed black;
}

footer {
    clear: left;
}