img#isaiahImage {
    width: 50%;
    float: left;
    margin: 0.5em 1em;
}

p {
    margin: 0.5em 1em;
}

p#contactInfo {
    margin: 2em 1em;
    border: 1px dashed black;
}

footer {
    clear: left;
}