* {
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: powderblue;
}

h1 {
    font-size: 4em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    padding-top: 0.25em;
    padding-bottom: 0.1em;
}

h2 {
    font-size: 2em;
    padding: 0.25em;
}

h3 {
    font-size: 1em;
    padding: 0.25em;
}

nav {
    padding: 0em 0.5em;
    background: darkslateblue;
}

p {
    padding: 0.25em;
}

iframe {
    padding: 0.25em 0.5em;
}

body {
    margin-top: 10em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    background-color: lightblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 2em 2em;
}

a:hover {
    color:yellow;
}

nav ul {
    list-style: none;
}

ul > li, nav a {
    display: inline-block;
    padding:0em 1em;	
	font-size:1em;
	line-height: 3em;
	text-decoration:none;
    color: whitesmoke;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: inherit;
}

nav li:hover {
    background: mediumslateblue;
}